$accent-color: #d63031;
$cta-color: $accent-color;
$white-color: #dfe6e9;
$white-mute-color: #b2bec3;
$black-color: #2d3436;
$black-mute-color: #636e72;

$border-color: $white-mute-color;

$border-radius: .25rem;

//Inputs

$input-accent-color: $accent-color;
$input-error-color: $accent-color;
$input-border-color: $white-mute-color;
$input-border-radius: $border-radius;

//Buttons

$button-accent-color: $accent-color;
$button-cta-color: $button-accent-color;
$button-white-color: $white-color;
$button-white-mute-color: $white-mute-color;
$button-black-color: $black-color;
$button-black-mute-color: $black-mute-color;

$button-border-color: $button-white-mute-color;

$button-border-radius: $border-radius;


